body {
	font-family: Helvetica, sans-serif;
	letter-spacing: 0.085rem;
	color: rgb(44, 44, 44);
	background-color: rgb(233, 233, 233);
}

ol,
ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

pre {
	padding: 1rem;
}

a {
	color: inherit;
	font-weight: bold;
}
a:not(:focus, :hover) {
	text-decoration: none;
}

input,
button {
	border-radius: 0;
	border: 4px solid currentColor;
	background-color: currentColor;
}

input,
button {
	background-color: transparent;
}
