:root {
	--color-a: #000a16;
	--color-b: #ffffff;
	--color-c: #3700ff;
	--color-d: #84eeff;
	--color-e: #12ff90;

	--err-text: #ff6f6f;
	--err-bg: #423030;

	---colwidth: 800px;
}

html {
	height: 100%;
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Helvetica, sans-serif;

	background-color: var(--color-a);
	color: var(--color-b);

	display: flex;
	flex-direction: column;
	align-items: center;

	min-height: 100%;

	scrollbar-gutter: stable;
}

ol,
ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

input,
button,
textarea {
	color: black;
	background-color: white;

	font: inherit;
	font-size: 1.125rem;
	padding: 1rem;
	border-radius: 0;
	border: none;
}

.buttony {
	display: block;
	max-width: max-content;
}
.buttony:not(:focus, :hover) {
	text-decoration: none;
}

button,
.buttony {
	box-sizing: border-box;
	font-weight: bold;
	background-color: var(--color-c);
	color: var(--color-d);

	padding: 1rem;
	font-size: 1.5rem;
}

@media (width < 610px) {
	input,
	button,
	textarea {
		font-size: 1rem;
		padding: 0.5rem;
	}
	button,
	.buttony {
		padding: 0.75rem;
		font-size: 1.25rem;
	}
}
@media (width < 410px) {
	button,
	.buttony {
		font-size: 1rem;
	}
}

input,
button,
textarea {
	position: relative;
}

:is(.buttony, button):not(:active, :disabled):hover {
	color: var(--color-b);
}

button:disabled {
	color: var(--color-d);
	filter: opacity(0.5);
}

:is(.buttony, button):active {
	color: var(--color-d);
}
